In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('Departamentos_y_municipios_de_Colombia_20241128.csv')

In [4]:
datos.head()

,REGION,CÓDIGO DANE DEL DEPARTAMENTO,DEPARTAMENTO,CÓDIGO DANE DEL MUNICIPIO,MUNICIPIO
0,Región Eje Cafetero - Antioquia,5,Antioquia,5.001,Medellín
1,Región Eje Cafetero - Antioquia,5,Antioquia,5.002,Abejorral
2,Región Eje Cafetero - Antioquia,5,Antioquia,5.004,Abriaquí
3,Región Eje Cafetero - Antioquia,5,Antioquia,5.021,Alejandría
4,Región Eje Cafetero - Antioquia,5,Antioquia,5.030,Amagá

In [6]:
datos.tail()

,REGION,CÓDIGO DANE DEL DEPARTAMENTO,DEPARTAMENTO,CÓDIGO DANE DEL MUNICIPIO,MUNICIPIO
1118,Región Eje Cafetero - Antioquia,17,Caldas,17.444,Marquetalia
1119,Región Pacífico,52,Nariño,52.051,Arboleda
1120,Región Pacífico,76,Valle del Cauca,76.109,Buenaventura
1121,Región Caribe,47,Magdalena,47.189,Ciénaga
1122,Región Caribe,8,Atlántico,8.560,Ponedera

In [8]:
datos.describe()

       CÓDIGO DANE DEL DEPARTAMENTO  CÓDIGO DANE DEL MUNICIPIO
count                   1123.000000                1123.000000
mean                      38.272484                  38.706054
std                       26.578552                  26.565327
min                        5.000000                   5.001000
25%                       15.000000                  15.678500
50%                       25.000000                  25.841000
75%                       66.000000                  66.514000
max                       99.000000                  99.773000

In [9]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123 entries, 0 to 1122
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   REGION                        1123 non-null   object
 1   CÓDIGO DANE DEL DEPARTAMENTO  1123 non-null   int64
 2   DEPARTAMENTO                  1123 non-null   object
 3   CÓDIGO DANE DEL MUNICIPIO     1123 non-null   float64
 4   MUNICIPIO                     1123 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 44.0+ KB

In [11]:
datos['DEPARTAMENTO'].value_counts()

DEPARTAMENTO
Antioquia                                                   125
Boyacá                                                      123
Cundinamarca                                                116
Santander                                                    87
Nariño                                                       64
Tolima                                                       47
Bolívar                                                      46
Cauca                                                        42
Valle del Cauca                                              42
Norte de Santander                                           40
Huila                                                        37
Chocó                                                        31
Magdalena                                                    30
Córdoba                                                      30
Meta                                                         29
Caldas                                                       27
Sucre                                                        26
Cesar                                                        25
Atlántico                                                    23
Casanare                                                     19
Caquetá                                                      16
La Guajira                                                   15
Risaralda                                                    14
Putumayo                                                     13
Quindío                                                      12
Amazonas                                                     11
Guainía                                                       9
Arauca                                                        7
Vaupés                                                        6
Vichada                                                       4
Guaviare                                                      4
Archipiélago de San Andrés, Providencia y Santa Catalina      2
Bogotá D.C.                                                   1
Name: count, dtype: int64

In [13]:
datos['MUNICIPIO'].value_counts()

MUNICIPIO
La Unión            4
Villanueva          4
Sucre               3
San Francisco       3
Córdoba             3
                   ..
Planeta Rica        1
Pueblo Nuevo        1
Puerto Escondido    1
Purísima            1
Ponedera            1
Name: count, Length: 1035, dtype: int64

In [14]:
datos.loc[datos['MUNICIPIO'] == 'Bogotá D.C.', 'MUNICIPIO'] = 'Distrito Capital de Bogotá'

In [20]:
departamentos = datos[['REGION', 'CÓDIGO DANE DEL DEPARTAMENTO', 'DEPARTAMENTO']]
departamentos = departamentos.drop_duplicates(subset='DEPARTAMENTO')
print(len(departamentos))
departamentos.head()

33

                             REGION  CÓDIGO DANE DEL DEPARTAMENTO DEPARTAMENTO
0   Región Eje Cafetero - Antioquia                             5    Antioquia
10            Región Centro Oriente                            15       Boyacá
47                    Región Caribe                            23      Córdoba
51                  Región Pacífico                            27        Chocó
88                  Región Pacífico                            52       Nariño

In [21]:
municipios = datos[['CÓDIGO DANE DEL DEPARTAMENTO', 'CÓDIGO DANE DEL MUNICIPIO', 'MUNICIPIO']]
municipios.head()

   CÓDIGO DANE DEL DEPARTAMENTO  CÓDIGO DANE DEL MUNICIPIO   MUNICIPIO
0                             5                      5.001    Medellín
1                             5                      5.002   Abejorral
2                             5                      5.004    Abriaquí
3                             5                      5.021  Alejandría
4                             5                      5.030       Amagá

In [23]:
departamentos_caribe = departamentos[departamentos['REGION'] == 'Región Caribe']
departamentos_caribe

,REGION,CÓDIGO DANE DEL DEPARTAMENTO,DEPARTAMENTO
47,Región Caribe,23,Córdoba
121,Región Caribe,8,Atlántico
138,Región Caribe,13,Bolívar
353,Región Caribe,20,Cesar
555,Región Caribe,44,La Guajira
568,Región Caribe,47,Magdalena
766,Región Caribe,70,Sucre
915,Región Caribe,88,"Archipiélago de San Andrés, Providencia y Sant..."

In [26]:
municipios_a = municipios[municipios['MUNICIPIO'].str.startswith('A')]
municipios_a

      CÓDIGO DANE DEL DEPARTAMENTO  CÓDIGO DANE DEL MUNICIPIO   MUNICIPIO
1                                5                      5.002   Abejorral
2                                5                      5.004    Abriaquí
3                                5                      5.021  Alejandría
4                                5                      5.030       Amagá
5                                5                      5.031      Amalfi
...                            ...                        ...         ...
1036                            76                     76.020      Alcalá
1053                            25                     25.019       Albán
1062                            25                     25.040    Anolaima
1067                            73                     73.043  Anzoátegui
1119                            52                     52.051    Arboleda

[75 rows x 3 columns]

In [27]:
print('departamentos_caribe:', len(departamentos_caribe))

departamentos_caribe: 8

In [28]:
print('municipios_a:', municipios_a.shape)

municipios_a: (75, 3)

In [34]:
municipio_del_caribe_con_a_inner = pd.merge(left=departamentos_caribe, right=municipios_a, how='inner',
                                            left_on='CÓDIGO DANE DEL DEPARTAMENTO',
                                            right_on='CÓDIGO DANE DEL DEPARTAMENTO',
                                            indicator=True)
municipio_del_caribe_con_a_inner['_merge'].value_counts()

_merge
both          13
left_only      0
right_only     0
Name: count, dtype: int64

In [33]:
municipio_del_caribe_con_a_left = pd.merge(left=departamentos_caribe, right=municipios_a, how='left',
                                            left_on='CÓDIGO DANE DEL DEPARTAMENTO',
                                            right_on='CÓDIGO DANE DEL DEPARTAMENTO',
                                            indicator=True)
municipio_del_caribe_con_a_left['_merge'].value_counts()

_merge
both          13
left_only      3
right_only     0
Name: count, dtype: int64

In [32]:
municipio_del_caribe_con_a_right = pd.merge(left=departamentos_caribe, right=municipios_a, how='right',
                                            left_on='CÓDIGO DANE DEL DEPARTAMENTO',
                                            right_on='CÓDIGO DANE DEL DEPARTAMENTO',
                                            indicator=True)
municipio_del_caribe_con_a_right['_merge'].value_counts()

_merge
right_only    62
both          13
left_only      0
Name: count, dtype: int64

In [35]:
municipio_del_caribe_con_a_outer = pd.merge(left=departamentos_caribe, right=municipios_a, how='outer',
                                            left_on='CÓDIGO DANE DEL DEPARTAMENTO',
                                            right_on='CÓDIGO DANE DEL DEPARTAMENTO',
                                            indicator=True)
municipio_del_caribe_con_a_outer['_merge'].value_counts()

_merge
right_only    62
both          13
left_only      3
Name: count, dtype: int64